<%
  const header = require('@/components/header/header.html')
  const footer = require('@/components/footer/footer.html')
  const metaSocial = require('./meta-social.html')
  const darkTheme = require('./dark-theme.html')
  const title = 'Site title'
  const description = 'Site description'
%>

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <%= darkTheme() %>
    <%= metaSocial({ title, description }) %>
  </head>
  <body class="bg-white font-brand text-base text-slate-900">
    <div class="app">
      <%= header() %>
      <main class="main">
        <%= props.content %>
      </main>
      <%= footer() %>
    </div>
  </body>
</html>
