@use 'globals' as *;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

:focus-visible {
  @include focus-ring();
}

html {
  font-size: 16px;
  height: 100%;
  // Prevent adjustments of font size after orientation changes in iOS
  -webkit-text-size-adjust: 100%;
  // Change the default tap highlight to be completely transparent in iOS
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-bg;
  height: 100%;
}

// General
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-primary;
}

hr {
  border: 0;
  height: 1px;
  margin: 16px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

sub,
sup {
  // Prevent `sub` and `sup` elements from affecting the line height in all browsers
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;

  @at-root sub {
    bottom: -0.25em;
  }

  @at-root sup {
    top: -0.5em;
  }
}

p {
  margin: 0 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0 8px;
  line-height: 1.2;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}

// Form
button,
input,
optgroup,
select,
textarea {
  // Specify font inheritance of form elements in all browsers
  font: inherit;
}

optgroup {
  // Restore the font weight unset by the previous rule
  font-weight: bold;
}

button,
select {
  // Remove the inheritance of text transform in Edge and Firefox
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // Correct the inability to style clickable types in iOS and Safari
  -webkit-appearance: button;
}

::-moz-focus-inner {
  // Remove the inner border and padding in Firefox
  border-style: none;
  padding: 0;
}

fieldset {
  min-width: 0;
  border: 0;
}

progress {
  // Add the correct vertical alignment in Chrome and Firefox
  vertical-align: baseline;
}

textarea {
  resize: vertical;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  // Correct the cursor style of increment and decrement buttons in Chrome
  height: auto;
}

[type="search"] {
  // Correct the odd appearance in Chrome and Safari
  -webkit-appearance: textfield;

  &::-webkit-search-decoration {
    // Remove the inner padding in Chrome and Safari on macOS
    -webkit-appearance: none;
  }
}
