# https://github.com/browserslist/browserslist#readme

Chrome >= 54
ChromeAndroid >= 54
Firefox >= 63
FirefoxAndroid >= 63
iOS >= 10.3
Safari >= 10.1
Edge >= 79
Opera >= 41
OperaMobile >= 59
Samsung >= 5.4
