<%
  const styleguide = require('../components/styleguide/styleguide.ejs')
  const example = require('../components/example/example.ejs')
  const icon = require('../components/icon/icon.ejs')
%>

<div class="container examples" style="display1: none;">
  <%= example({
    title: 'First',
    slot: `<b>Slot for first</b>`
  }) %>
  <%= example({
    title: 'Second',
    showSlot: false,
    slot: `
      <app-button variant="primary" data-modal="main-modal">
        ${icon({ name: 'house', left: true })}
        Slot for second
      </app-button>
    `
  }) %>
</div>

<%= styleguide() %>

<div class="container" style="display: flex; justify-content: center;">
  <img
    src="<%= require('../assets/img/34A3721C-53F0-4371-ABB9-F7CB9C94F053_w1200_r1.jpg') %>"
    width="1200"
    height="675"
    style="width: 700px; height: auto;"
    loading="lazy"
    alt="#"
  >
</div>
<br>
