@use '../../assets/scss/globals' as *;

.examples {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 30px;
}

.example {
  width: 200px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
