@use '@/assets/scss/globals' as *;

.header {
  &__container {
    color: $color-primary;

    @include down(lg) {
      color: red;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  &__logo {
  }
  &__logo-img {
    display: block;
    font-size: 48px;
    height: 1em;
    width: 0.833em;
  }
}
