.header {
  &__container {
    color: var(--color-primary);

    @mixin down lg {
      color: blue;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  &__logo {
  }
  &__logo-img {
    display: block;
    font-size: 48px;
    height: 1em;
    width: 0.833em;
  }
}
